<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/style.css">
    <title>APPLE</title>
</head>

<body>
    <!--NAVBAR-->
    <details>
        <summary></summary>
        <nav class="menu">
            <a href="../../productos/productIphone.html">Iphones</a>
            <a href="../../productos/productIpad.html">Ipad</a>
            <a href="../../productos/productMacbook.html">Macbook</a>
            <a href="../../../index.html">Inicio</a>
        </nav>
    </details>
    <!--NAVBAR-->
    <!--DATOS Y METODO DE PAGO-->

    <div class="modern-form" style="margin-top: 150px;">
        <h3 style="color: white;">Datos para compra:</h3>
      
      <fieldset class='float-label-field'>
        <label for="txtName">Nombre</label>
        <input id="txtName" type='text'>
      </fieldset>
      
      <fieldset class='float-label-field'>
        <label for="txtEmail" >Email</label>
        <input id="txtEmail" type='text'>
      </fieldset>
      
      <fieldset class='float-label-field'>
        <label for="numberTelefono">Telefono</label>
        <input id="numberTelefono" type='number'>
      </fieldset>
      
      <fieldset class='float-label-field'>
        <label for="nmrTarjeta">Numero de tarjeta</label>
        <input id="nmrTarjeta" type='number'>
      </fieldset>

      <fieldset class='center' style="border: 0; margin-top: 80px;">
        <button class="buttonClass"><a href="../carrito/carritoDeCompra.html">Comprar</a></button>
      </fieldset>

      </div>
    <!--./ DATOS Y METODO DE PAGO-->

  

</html>
</body>

</html>