<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/style.css">
    <title>APPLE</title>
</head>

<body>
    <!--NAVBAR-->
    <details>
        <summary></summary>
        <nav class="menu">
            <a href="../../productos/productIphone.html">Iphones</a>
            <a href="../../productos/productIpad.html">Ipad</a>
            <a href="../../productos/productMacbook.html">Macbook</a>
            <a href="../../../index.html">Inicio</a>
        </nav>
    </details>
    <!--NAVBAR-->
    
    <!--DETALLES-->
    <table>
    
    <table class="default">

        <tr>
      
          <td><img src="../../../img/iPhone14.webp" alt="rei"style="height: 80%; width: 80%;"> </td> 
      
          <td>El Apple iPhone 14 llega este año con el mismo chip A15 Bionic del iPhone 13. Con una pantalla de 6.1 pulgadas
            <br>
            el iPhone 14 cuenta con una cámara dual con dos sensores de 12MP, siendo el principal estabilizado. La cámara 
            <br>
            selfie es de 12MP y suma PDAF y la batería puede cargarse en forma inalámbrica mediante MagSafe o por cable,
            <br>
            logrando una carga de 50% en 30 minutos. El iPhone 14 también cuenta con parlantes stereo, Face ID, sistema 
            <br>
            de mensajería de emergencia vía satélite, y resiste el polvo y agua.
        
            <br><br>
            <!--CARRITO-->
            <button class="buttonClass"><a href="../carrito/carritoDeCompra.html">Comprar</a></button>
        
        
        </td>
      
        </tr>
      
        
      </table>


</html>
</body>

</html>