<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
    <!-- ./ Bootstrap -->
    <!--Font awsonme-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--./ Font awsonme-->
    <link rel="stylesheet" href="../../../styles/css/style.css">
    <!-- FAVICON -->
    <link rel="stylesheet" href="styles/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../img/favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../img/favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../img/favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="../../../img/favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="../../../img/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- ./FAVICON -->
    <title>APPLE</title>
</head>

<body>
<!--NAVBAR-->
<details>
    <summary></summary>
    <nav class="menu">
        <a href="../../productos/productIphone.html">Iphones</a>
        <a href="../../productos/productIpad.html">Ipad</a>
        <a href="../../productos/productMacbook.html">Macbook</a>
        <a href="../../../index.html">Inicio</a>
    </nav>
</details>
<!--NAVBAR-->

<!--DETALLES-->
<table>

    <table class="default" style="margin-left: 180px">

        <tr>

            <td class="mr-4"><img src="../../../img/macbookpro.png" alt="" style="height: 100%; width: 100%;"></td>

            <td>Configuración probada M1 Max, CPU de 10 núcleos, GPU de 32 núcleos, 32 GB de memoria unificada,
                <br>
                1 TB de almacenamiento. Las pantallas del MacBook Pro de 14 y 16 pulgadas tienen las esquinas
                <br>
                redondeadas en la parte superior. Si se mide el rectángulo estándar, las pantallas tienen 14,2 y 16,2
                <br>
                pulgadas en diagonal.

                <br><br>
                <!--CARRITO-->
                <button type="button" class="btn btn-outline-secondary"><a class="text-white" href="../carrito/carritoDeCompra.html">Comprar</a></button>

            </td>


        </tr>

    </table>
</table>
<!--Footer-->
<footer class="text-center text-white bg-dark" style="margin-top: 120px;">
    <div class="container p-4">
        <!-- Video iphone -->
        <section class="">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="ratio ratio-16x9">
                        <iframe width="100%" height="325px;" src="https://www.youtube.com/embed/FT3ODSg1GFE"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./Video iphone -->
        <section class="m">
            <!-- Facebook -->
            <a class="btn btn-outline-light border-0 btn-floating m-1" href="#!" role="button">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-outline-light border-0 btn-floating m-1" href="#!" role="button">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>

            <!-- Google -->
            <a class="btn btn-outline-light border-0 btn-floating m-1" href="#!" role="button">
                <i class="fa fa-google" aria-hidden="true"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-outline-light border-0 btn-floating m-1" href="#!" role="button">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>

        </section>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <label>© 2023 Copyright: Gustavo Herrrera</label>
    </div>
    <!-- ./Copyright -->
</footer>
<!-- ./Footer-->
</body>

</html>