<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/style.css">
    <title>APPLE</title>
</head>

<body>
    <!--NAVBAR-->
    <details>
        <summary></summary>
        <nav class="menu">
            <a href="../../productos/productIphone.html">Iphones</a>
            <a href="../../productos/productIpad.html">Ipad</a>
            <a href="../../productos/productMacbook.html">Macbook</a>
            <a href="../../../index.html">Inicio</a>
        </nav>
    </details>
    <!--NAVBAR-->
    
    <!--DETALLES-->

    <table class="default">

        <tr>
      
          <td>
            <img src="../../../img/ipadpro.webp" alt=""style="height: 100%; width: 100%;">
          </td>
      
          <td>
            El Apple iPad Pro es un enorme tablet de 12.9 pulgadas con resolución Retina, procesador A9X de 64 bits
            <br>
           de tercera generación y coprocesador M9, cámara FaceTime de 1.2 MP, cámara iSight de 8 MP, lector de
           <br>
           huellas dactilares, Bluetooth 4.2, Wi-Fi 802.11ac y configuraciones de 16GB, 64GB y 128GB en variantes 
           <br>
           Wi-Fi y Wi-Fi + LTE.El Apple iPhone 14 llega este año con el mismo chip A15 Bionic del iPhone 13. 
           <br>
           Con una pantalla de 6.1 pulgadas, el iPhone 14 cuenta con una cámara dual con dos sensores de 12MP
           <br>
            siendo el principal estabilizado. La cámara selfie es de 12MP y suma PDAF y la batería puede cargarse 
            <br>
            en forma inalámbrica mediante MagSafe o por cable, logrando una carga de 50% en 30 minutos. 
            <br>
            El iPhone 14 también cuenta con parlantes stereo, Face ID, sistema de mensajería de emergencia 
            <br>
            vía satélite, y resiste el polvo y agua.

            <br><br>
            <!--CARRITO-->
            <button class="buttonClass"><a href="../carrito/carritoDeCompra.html">Comprar</a></button>


          </td>

        </tr>
    
      </table>
       
</html>
</body>

</html>