<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/style.css">
    <title>APPLE</title>
</head>

<body>
    <!--NAVBAR-->
    <details>
        <summary></summary>
        <nav class="menu">
            <a href="../../productos/productIphone.html">Iphones</a>
            <a href="../../productos/productIpad.html">Ipad</a>
            <a href="../../productos/productMacbook.html">Macbook</a>
            <a href="../../../index.html">Inicio</a>
        </nav>
    </details>
    <!--NAVBAR-->
    
    <!--DETALLES-->
    <table>
        
        <table class="default">

            <tr>
          
              <td> <img src="../../../img/macbookpro.png" alt="" style="height: 80%; width: 80%;"></td>
          
              <td>Configuración probada M1 Max, CPU de 10 núcleos, GPU de 32 núcleos, 32 GB de memoria unificada,
                <br>
                 1 TB de almacenamiento. Las pantallas del MacBook Pro de 14 y 16 pulgadas tienen las esquinas 
                 <br>
                 redondeadas en la parte superior. Si se mide el rectángulo estándar, las pantallas tienen 14,2 y 16,2 
                 <br>
                 pulgadas en diagonal.
                
                 <br><br>
                 <!--CARRITO-->
                 <button class="buttonClass"><a href="../carrito/carritoDeCompra.html">Comprar</a></button>
                
                </td>
                
        
            </tr>
          
          </table>
    </table>


       
</html>
</body>

</html>