<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>APPLE</title>
</head>

<body>
    <!--NAVBAR-->
    <details>
        <summary></summary>
        <nav class="menu">
            <a href="./productIphone.html">Iphones</a>
            <a href="./productIpad.html">Ipad</a>
            <a href="./productMacbook.html">Macbook</a>
            <a href="../../index.html">Inicio</a>
            <a href="../productos/carrito/carritoDeCompra.html">Carrito</a>
        </nav>
    </details>
    <!--NAVBAR-->
    <!--TITULO-->
             <h1 class="center titulo" style="font-size: 5rem;">Iphone</h1> 
                 

                <div class="center margen">
                    <h3>Iphone 14</h3>
                </div>
                <div class="center">
                    <a href="./detalles/detallesIphone.html"><img src="../../img/iphone14..png"  style="height: 10%; width: 18%;" class="center imagenCatalogo"></a>
                </div>
                <div class="center">
                    <label>900$</label>
                </div>

                <div class="center margen">
                    <h3>Iphone 14 pro</h3>
                </div>
                <div class="center">
                    <a href="./detalles/detallesIphone.html"><img src="../../img/iphone 14 pro.png" style="height: 10; width: 21%;" class="center imagenCatalogo"></a>
                </div>
                <div class="center">
                    <label>1050$</label>
                </div>

                <div class="center margen">
                    <h3>Iphone 13</h3>
                </div>
                <div class="center">
                    <a href="#"><img src="../../img/iphone13.png"style="height: 10%; width: 24%;" class="center imagenCatalogo"></a>
                </div>
                <div class="center">
                    <label>800$</label>
                </div>

                <div class="center margen">
                    <h3>Iphone 13 pro</h3>
                </div>
                <div class="center">
                    <a href="#"><img src="../../img/iphone13..png" style="height: 10%; width: 24%;" class="center imagenCatalogo"></a>
                <div class="center">
                    <label>950$</label>
                </div>

                
                


</html>
</body>

</html>